.voting-back {
  background-size: cover;
  background-position: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;
}

.voting-body {
  display: flex;
}

.voting-main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 4%;
}

.voting-heading {
  margin-top: 0px;
  padding-top: 3%;
  margin-bottom: 3%;
}

.card-container {
  width: 800px;
  height: 60px;
  position: static;
  /* border: 1px solid #ccc; */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin-bottom: 25px;
}

.remove-mouse-pointer:hover {
  cursor: not-allowed;
}

.card {
  width: inherit;
  height: inherit;
  position: inherit;
  align-items: center;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}

.pointer:hover {
  cursor: pointer;
}

.card div {
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .front {
  background: rgba(77, 255, 237, 0.3);
  border: 1px solid white;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.card .front:hover {
  background: rgba(0, 255, 47, 0.5);
  border: 1px solid white;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.card .back {
  background: rgba(0, 82, 204, 0.7);
  border: 1px solid white;
  border-radius: 5px;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  font-size: 22px;
  margin-top: -80px;
  padding-top: 15px;
}

.card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-origin: 50% 50%;
}

.refresh-btn {
  font-family: 'Rajdhani';
  background-color: black;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
}

.refresh-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
}
